:root {
  --shadow--xs: 0px 1px 2px rgba(15, 15, 16, 0.05);
  --shadow--s: 0px 1px 2px rgba(15, 15, 16, 0.06),
    0px 1px 3px rgba(15, 15, 16, 0.1);
  --shadow--m: 0px 2px 4px rgba(15, 15, 16, 0.06),
    0px 4px 6px rgba(15, 15, 16, 0.08);
  --shadow--l: 0px 4px 6px rgba(15, 15, 16, 0.05),
    0px 10px 15px rgba(15, 15, 16, 0.1);
  --shadow--xl: 0px 10px 10px rgba(15, 15, 16, 0.04),
    0px 20px 25px rgba(15, 15, 16, 0.1);
  --shadow--2xl: 0px 24px 48px rgba(16, 24, 40, 0.18);
  --shadow--3xl: 0px 32px 80px rgba(16, 24, 40, 0.08),
    0px 32px 32px rgba(16, 24, 40, 0.04);
}

.glass {
  position: relative;
  z-index: 0;

  border-radius: 2rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(2rem);

  ::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1.4px;
    border-radius: 2rem;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 57%,
      rgba(255, 255, 255, 0.1) 100%
    );
    background-blend-mode: luminosity;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }

  :hover {
    background: linear-gradient(
        0deg,
        rgba(94, 94, 94, 0.06) 0%,
        rgba(94, 94, 94, 0.06) 100%
      ),
      rgba(255, 255, 255, 0.04);
    background-blend-mode: color-dodge, lighten;
    border-radius: inherit;
  }
}
