:root {
  /* Text-size styles */
  /* base size: text--m---regular (16px) */
  --desktop--heading---h1: 4rem;
  --desktop--heading---h2: 3.6rem;
  --desktop--heading---h3: 3.2rem;
  --desktop--heading---h4: 2.8rem;
  --desktop--heading---h5: 2.4rem;
  --desktop--heading---h6: 2rem;
  --mobile--heading---h6: 2.8rem;
  --mobile--heading---h5: 2rem;
  --mobile--heading---h4: 2.4rem;
  --mobile--heading---h3: 2.8rem;
  --mobile--heading---h2: 3.2rem;
  --mobile--heading---h1: 3.6rem;
  --text--x-s---bold: 1.2rem;
  --text--x-s---regular: 1.2rem;
  --text--x-s---medium: 1.2rem;
  --text--s---regular: 1.4rem;
  --text--s---medium: 1.4rem;
  --text--s---bold: 1.4rem;
  --text--m---regular: 1.6rem;
  --text--m---medium: 1.6rem;
  --text--m---bold: 1.6rem;
  --text--l---regular: 1.8rem;
  --text--l---medium: 1.8rem;
  --text--l---bold: 1.8rem;
}

h1 {
  font-size: var(--desktop--heading---h1);
  margin: 0;
}

h2 {
  font-size: var(--desktop--heading---h2);
}

h3 {
  font-size: var(--desktop--heading---h3);
}

h4 {
  font-size: var(--desktop--heading---h4);
}

h5 {
  font-size: var(--desktop--heading---h5);
}

h6 {
  font-size: var(--desktop--heading---h6);
}
