---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="hero">
      <h1>
        Hi, I’m Tanto. <br /> Full Stack Software Engineer <br />Based in
        Amsterdam.
      </h1>
    </section>
  </main>
</Layout>

<style>
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem);
    text-align: center;
    > h1 {
      font-size: 7.2rem;
    }
  }
</style>
