---
import Layout from "../layouts/Layout.astro"
import {HeroSection} from "../components/HeroSection"
---

<Layout title="Welcome to Astro." , header="Home">
  <main>
    <HeroSection />
  </main>
</Layout>
