---
const {platform, username} = Astro.props
---

<a href={`https://www.${platform}.com/${username}`} class="glass">
  <div class="first">
    {platform}
  </div>
</a>

<style>
  a {
    .first {
      padding: 5rem;
      font-size: 5rem;
    }
  }
</style>
